.loginpage-user-num-input-style{
    position: "relative";
    font-family: "Pretendard";
}

.loginpage-user-auth-num{
    border-radius: 0.3125rem;
    border: 0.05rem solid rgba(131, 131, 131, 1);
    font-size: 1rem;
    margin: 0.44rem 0;
    width: 21.3rem;
    height: 3.13rem;
    padding-left: 1.25rem;
}

.timer{
    position: absolute;
    top: 50%;
    right: 6.39rem;
    font-family: "Pretendard";
    font-size: 1rem;
    color: #838383;
}

/* w:768, h:1024이상일 때 */
@media screen and (min-width: 480px) {
}

/* w:480, h:800일 때 */
@media screen and (max-width: 480px) {
    .loginpage-user-auth-num{
        margin: 0.5rem 0;
        width: 18.75rem;
        height: 3.125rem;
        padding-left: 1.25rem;
    }
    .timer{
        position: absolute;
        top: 50%;
        right: 6.38rem;
        font-family: "Pretendard";
        font-size: 1rem;
        color: #838383;
    }
}
