.loginpage-user-num-input-style {
  font-family: "Pretendard Variable";
}
.loginpage-user-auth-num {
  border: 0.05rem solid rgba(131, 131, 131, 1);
  border-radius: 0.3125rem;
  font-size: 1rem;
  margin: 0.44rem 0;
  width: 21.3rem;
  height: 3.13rem;
  padding-left: 1.25rem;
}

.timer {
  display: flex;
  justify-content: flex-end;
  margin-top: -3rem;
  margin-bottom: 2rem;
  margin-right: 0.94rem;
  font-family: "Pretendard Variable";
  font-size: 1rem;
  color: #838383;
}

/* w:480, h:800일 때 */
@media screen and (max-width: 480px) {
  .loginpage-user-auth-num {
    margin: 0.5rem 0;
    width: 18.75rem;
    height: 3.125rem;
    padding-left: 1.25rem;
  }
}
