.user-input-number-message-wrapper{
    position: relative;
    align-items: center;
    display: flex;
}

.user-input-number-message-input{
    border-radius: 0.25rem;
    border: 0.05rem solid rgba(131, 131, 131, 1);
    font-size: 0.8rem;
    margin: 0.4375rem 0;
    height: 2.5rem;
    padding: 0.8rem 0rem 0.7rem 1rem;
    font-family: "Pretendard";
}

.user-input-number-message-timer{
    display: flex;
    position: absolute;
    right: 1rem;
    top: 35%;
    font-family: "Pretendard";
    font-size: 0.8rem;
    color: #838383;
}

@media screen and (min-width: 481px){
    .user-input-number-message-input{
        width: 17rem;
    }
}

/* w:480, h:800일 때 */
@media screen and (max-width: 480px) {
    .user-input-number-message-input{
        width: 15rem;
    }
}