/* 480부터
  헤더 대신
  뒤로 가기 버튼 */
  @media screen and (max-width: 480px) {
    .header-top-back-button-style{
      display: block;
      position: relative;
      top: 3rem;
      left: 10%;
      margin: 0%;
      padding: 0%;
    }
    .header-top-back-button-style img {
      display: block;
      width: 3rem;
      height: 3rem;
    }
  }
  @media screen and (min-width: 480px) {
    .header-top-back-button-style{
      display: none;
    }
    .header-top-back-button-style img {
      display: none;
    }
  }
