.rounded-rectangle {
  width: 100%; /* 너비 설정 */
  height: 97%; /* 높이 설정 */
  background-color: #f5f5f5; /* 배경색 설정 */
  border-radius: 20px; /* 모서리를 둥글게 만드는 값 */
  text-align: center; /* 가운데 정렬 */
  color: #000; /* 텍스트 색상 설정 */
  font-size: 18px; /* 폰트 크기 설정 */
  line-height: 100px; /* 수직 가운데 정렬을 위한 높이 설정 */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.Box {
  width: 100%; /* 너비 설정 */
  height: 100%; /* 높이 설정 */
  padding-top: 5%;
  padding-left: 0;
}

.top-font {
  color: #000;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.625rem */
  letter-spacing: -0.0125rem;
}
