.container-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F4F7FF;
    overflow-y: auto;

    /* 최소 크기 */
    min-width: 25rem;
    min-height: 37.5rem;
}

.container-wrapper-inner{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.25rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0rem 1.5rem 3rem 0rem rgba(0, 0, 0, 0.03), 0rem 1.525rem 3.5rem 0rem rgba(216, 216, 216, 0.30);
}

.container-wrapper-wrapper{
    font-family: "Pretendard";
    font-weight: 800;
    font-size: 1.75rem;
    color: #2E2D2D;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-wrapper-wrapper img{
    width: 6.3125rem;
    height: 1.5625rem;
    margin-bottom: 0.25rem;
}
.loginpage-content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
/* w:768, h:1024 이상일 때 */
@media screen and (min-width: 481px){    
    .container-wrapper-inner {
        max-width: 31.3rem;
        height: 100%;
    }
}

/* w:480, h:800일 때 */
@media screen and (max-width: 480px) {
    .container-wrapper-inner {
        max-width: 25rem;
        height: 100%;
    }
    .container-wrapper-wrapper{
        font-size: 1.5rem;
    }
    .container-wrapper-wrapper img{
        margin-bottom: 0.31rem;
    }
}
