/* UserInputPassword */
.signup-page-content-password-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.signup-page-content-password-label-style{
    color: #2E2D2D;
    font-family: "Pretendard";
    font-weight: 600;
}

.signup-page-content-password-label-plus-text{
    display: flex;
    color: #838383;
    font-weight: 500;
    align-items: center;
}

.signup-page-content-password-input{
    margin-top: 0.3rem; /* 0.6 -0.3 = 0.3 */
    border-radius: 0.25rem;
    border: 0.05rem solid rgba(131, 131, 131, 1);
    margin-bottom: 0.35rem;
    padding: 0.8rem 1rem 0.7rem 1.2rem;
    font-family: "Pretendard";
}

/* w:768이상~ h:1024일 때 */
@media screen and (min-width: 481px) {
    .signup-page-content-password-wrapper{
        margin-bottom: 1.5rem;
    }
    
    .signup-page-content-password-label-style{
        font-size: 1rem;
    }
    .signup-page-content-password-label-plus-text{
        font-size: 0.6rem;
        width: 23rem;
    }
    
    .signup-page-content-password-input{
        font-size: 1rem;
        width: 21rem;/*23.2rem-2.2rem*/
        height: 1rem; /*2.5rem-1.5rem*/
    }
}

/* w:480, h:800일 때 */
@media screen and (max-width: 480px) {
    .signup-page-content-password-wrapper{
        margin-bottom: 1.5rem;
    }
    
    .signup-page-content-password-label-style{
        font-size: 0.8rem;
    }
    
    .signup-page-content-password-label-plus-text{
        width: 17rem;
        font-size: 0.6rem;
    }
    .signup-page-content-password-input{
        font-size: 0.8rem;
        width: 15rem;/*23.2rem-2.2rem*/
        height: 0.6rem; /*2.5rem-1.5rem*/
    }
}