.mypage-main__wrapper{
    display: flex;
    flex-direction: column;

    padding: 4.3125rem 4rem 2rem 4rem;
    width: 100%;
    height: calc(100% + 5.5rem);

    justify-content: space-between;
}

.mypage-top__wrapper{
    width: 100%;
}

.mypage-top__txt{
    font-size: 1.25rem;
    font-family: "Bold";
    color: #4f4f4f;
}

.mypage-top__box{
    display: flex;
    justify-content: space-between;
}

.mypage-top-txt__wrapper{
    text-align: start;
}

.mypage-top-cafe__txt{
    font-size: 1.875rem;
    font-family: "Bold";
    white-space: nowrap;
}

.mypage-top-cafe__txt span{
    font-size: 3.125rem;
}

.mypage-kakao__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mypage-kakao__txt{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0 3.4375rem 0 0.6875rem;
}

.mypage-kakao__txt span{
    font-size: 1.09rem;
    font-family: "Medium";
    color: #838383;
}

.mypage-kakao-img__box{
    width: 3.625rem;
    height: 2.5rem;
    border-radius: 0.625rem;
    background-color: #d9d9d9;
    padding: 0.59375rem 0;
}

.mypage__line{
    height: 0.15625rem;
    width: 100%;
    background-color: #dadada;
    margin: 1.5625rem 0;
}

.mypage-content__wrapper{
    width: 100%;
    text-align: start;
}

.mypage-content__wrapper p{
    font-size: 1.875rem;
    font-family: "Bold";
    color: #4f4f4f;
    margin: 2rem 0;
}

.mypage-content__box div{
    display: flex;  /* 추가: 내부 div들을 가로로 나열하기 위해 Flexbox 사용 */
    justify-content: space-between;
    width: 100%;
    margin: 0.625rem 0;
}

.mypage-content__title{
    font-size: 1.875rem;
    font-family: "Medium";
    color: #000;
    width: 30%;
}

.mypage-content__txt{
    font-size: 1.5625rem;
    font-family: "Light";
    color: #000;
    width: 70%;
}

.mypage-logout__wrapper span{
    font-size: 0.9375rem;
    font-family: "Regular";
    color: #838383;
}