.header {
  /* width: 100%; */
  min-width: 73.75rem;
  /* min-width: 64rem; */
  height: 5.5rem;
  background-color: #2e2d2d;
}

.LOGO {
  width: 19.1875rem;
  height: 4rem;
  margin-left: 2.5rem;
  margin-top: 1.25rem;
  float: left;
}

.store-group {
  display: flex;
  flex-direction: row;
  object-fit: contain;
  align-items: center;
}

.store-img__wrapper{
  margin: 0 0.5625rem;
}

.header-font {
  color: #fff;
  font-size: 1.875rem;
  font-family: "SemiBold";
}

.head-container {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
