/* UserInputPassword */
.user-input-phone-number-content-number-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.user-input-phone-number-content-number-label-style{
    color: #2E2D2D;
    font-family: "Pretendard";
    font-size: 1rem;
    font-weight: 600;
    margin-top: 4rem;
}

.user-input-phone-number-wrapper{
    display: flex;
    align-items: center;
    width: 22.3rem;
}

.user-input-phone-number-input{
    margin-top: 0.3rem; /* 0.6 -0.3 = 0.3 */
    border-radius: 0.25rem;
    border: 0.05rem solid rgba(131, 131, 131, 1);
    font-size: 0.8rem;
    margin-bottom: 0.35rem;
    width: 15rem;/*17.55rem-2.2rem*/
    height: 1rem; /*2.5rem-1.5rem*/
    padding: 0.8rem 1rem 0.7rem 1.2rem;
    font-family: "Pretendard";
}

.user-input-phone-number-button{
    width: 5.2rem;/*4.3rem-2.2rem*/
    height: 2.5rem; /*2.5rem-1.5rem*/
    margin-left: 0.25rem;
    border-radius: 0.25rem;
    border: 0.05rem solid rgba(131, 131, 131, 1);
    background-color: white;
    font-family: "Pretendard";
    font-size: 0.8rem;
    font-weight: 500;
}

.user-input-phone-number-button-clicked{
    background-color: #FFEAEF;
}

.user-input-phone-number-auth-button{
    width: 100%;
    justify-items: center;
    align-items: center;
    /* margin-top: 2.1rem; */
    position: absolute;
    bottom: -50%;
}