.none-find-id-page-frame{
    width:100%;
    max-width: 17rem;
    margin-top: 2.35rem;/* 4.7-2.35 */
}

.none-find-id-page-text{
    font-family: "Pretendard";
    font-size: 1.2rem;
    font-weight: 500;
}

.none-find-id-page-link-wrapper{
    margin: 4.15rem 0;
    text-decoration: none;
    color: rgba(131, 131, 131, 1);
}

.none-find-id-page-login-link{
    text-decoration: none;
    color: rgba(131, 131, 131, 1);
}

.none-find-id-page-link-button{
    border: none;
    background-color: white;
    cursor: pointer;
    font-family: "Pretendard";
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    margin: 1.35rem 0;
}