.none-find-id-page-frame {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  /* max-width: 17rem; */
  margin-top: 2.35rem; /* 4.7-2.35 */
}

.none-find-id-page-text {
  font-family: "Pretendard";
  font-weight: 500;
}

.none-find-id-page-link-wrapper {
  display: flex;
  flex-direction: column;
  margin: 4.15rem 0;
  text-decoration: none;
  color: rgba(131, 131, 131, 1);
  margin-left: auto;
  margin-right: auto;
}

/* .none-find-id-page-login-link{
    text-decoration: none;
    color: rgba(131, 131, 131, 1);
} */

.none-find-id-page-link-button {
  display: flex;
  border: none;
  background-color: white;
  cursor: pointer;
  font-family: "Pretendard";
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  margin: 1.35rem auto 0 auto;
  color: rgba(131, 131, 131, 1);
}

/* w:768, h:1024 이상일 때 */
@media screen and (min-width: 481px) {
  .none-find-id-page-text {
    font-size: 1.2rem;
  }
}

/* w:480, h:800일 때 */
@media screen and (max-width: 480px) {
  .none-find-id-page-text {
    font-size: 1rem;
  }
}
