.rounded-rectangle {
  width: 100%;
  min-width: 22.125rem;
  height: 41.25rem;

  margin: 0.625rem auto;
  padding: 0 0.875rem;

  background-color: #f5f5f5; /* 배경색 설정 */
  border-radius: 1.875rem; /* 모서리를 둥글게 만드는 값 */

  text-align: center; /* 가운데 정렬 */
  color: #000; /* 텍스트 색상 설정 */
  font-size: 18px; /* 폰트 크기 설정 */

  line-height: 100px; /* 수직 가운데 정렬을 위한 높이 설정 */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);

  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rounded-rectangle::-webkit-scrollbar {
  display: none;
}

.Box {
  width: 100%; /* 너비 설정 */
}

.receiptHeader {
  padding-top: 10%;
  /* padding-left: 10%; */
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.receipt-header {
  color: #000;
  font-family: "Bold";
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 130%; /* 2.275rem */
  letter-spacing: -0.0175rem;
}

.receipt-btn__wrapper {
  /* padding: 10% 10% 5% 7%; */
  /* width: 70%; */
  /* margin: 0 auto; */

  display: flex;
  justify-content: space-between;
}

.receiptButton {
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.receiptCol {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.receiptTextBox {
  display: flex;
  justify-content: space-between;

  padding: 3% 7% 1% 7%;
}

.receipt-FoodName {
  flex-direction: column;
  align-items: flex-start;

  display: block; /* 블록 요소로 설정하여 각각 새로운 라인에 표시 */
  text-align: left; /* 왼쪽 정렬 */
  color: #4f4f4f;
  font-family: "SemiBold";
  font-size: 1.4375rem;
  font-weight: 700;
  line-height: 130%; /* 1.625rem */
  letter-spacing: -0.0125rem;
}

.receiptOption {
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.receipt-optiontext {
  color: #4f4f4f;
  font-family: "Regular";
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 130%; /* 1.625rem */
  letter-spacing: -0.0125rem;
}

.receipt-text {
  color: #4f4f4f;
  font-family: "Light";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 130%; /* 1.625rem */
  letter-spacing: -0.0125rem;
  white-space: nowrap;
}

.receipt-divider {
  width: 18.4375rem;
  height: 0rem;

  border-top: 1px solid #838383; /* 색상과 굵기를 조절할 수 있습니다. */
  margin: 20px 0; /* 위아래 여백을 조절할 수 있습니다. */

  transform: translate(7%, -50%);
}

.receipt-btn {
  width: 8.75rem;
  height: 2.8125rem;
  border: 2px solid;
  border-radius: 1.5625rem;
  background-color: #d82356;
  font-family: "SemiBold";
  font-size: 1.375rem;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.receipt-btn-pickUp {
  width: 8.75rem;
  height: 2.8125rem;
  border: 2px solid;
  border-radius: 1.5625rem;
  background-color: #838383;
  font-family: "SemiBold";
  font-size: 1.375rem;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 모달 */
.modal-wrapper {
  position: absolute;
  top: calc(5.5rem + 0.625rem);
  left: calc(33rem);

  /* width: 23.75rem;
  height: 43rem; */
  min-width: 22.125rem;
  height: 41.25rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1.875rem;

  display: flex;
}

.modal-box {
  position: absolute;
  /* top: calc(5.5rem + 0.625rem);
  left: calc(8.875rem + 33rem); */
  top: 10.45rem;

  width: 22.125rem;
  height: 30.8rem;
  background-color: #fff;
  border-radius: 1.875rem;
  z-index: 101;
  padding: 2.0625rem 3.25rem;
}

.modal-close__wrapper {
  display: flex;
  justify-content: flex-end;
}

.modal-box-txt__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
}

.modal-box-txt {
  color: #4f4f4f;
  font-family: "Regular";
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 130%; /* 1.625rem */
  letter-spacing: -0.0125rem;
}

.modal-box-choose-btn__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.2rem;
  /* height: 12.9375rem; */
}

.modal-box-choose-btn__row {
  display: flex;
  gap: 0.5rem;
}

.modal-box-choose-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 16.8125rem;
  height: 3.125rem;
  margin: 0 auto;
  border-radius: 0.625rem;
  border: 2px solid #dadada;

  color: #838383;
  text-align: center;
  font-family: "Light";
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 100%; /* 1.375rem */
}

.modal-box-choose-btn:active {
  background-color: #d82356;
  border: 2px solid #d82356;
  color: #fff;
}

.modal-box-chooseTime-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 7.625rem;
  height: 3.125rem;
  margin: 0 auto;
  border-radius: 0.625rem;
  border: 2px solid #dadada;

  color: #838383;
  text-align: center;
  font-family: "Light";
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 100%; /* 1.375rem */
}

.modal-box-chooseTime-btn:active {
  background-color: #d82356;
  border: 2px solid #d82356;
  color: #fff;
}
