.judge-results-before-page-content-container{
    margin-top: 2.24rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 22.4rem;
}

.judge-results-before-page-top-positon-icon{
    width: 4.4rem;
    height: 4.4rem;
    display: flex;
    position: absolute;
    top: -2rem;
    left: 43%;
}

.judge-results-before-page-content-text-style{
    margin-top: 5.62rem;
    font-size: 1rem;
    font-weight: 800;
    font-family: "Pretendard";
}
.judge-results-before-page-content-main-text-style{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2.24rem;
    max-width: 22.4rem;
    font-family: "Pretendard";
    font-size: 0.8rem;
    font-weight: 500;
}
.judge-results-before-page-content-main-text-tab{
    margin-top: 0.8rem;
    margin-bottom: 2.2rem ;
}

.judge-results-before-page-next-button{
    margin-top: 2.1rem;
}

.redyvery-linked-message-for-kakao{
    width: 14.79rem;
    height: 3.12rem;
    border-radius: 7.5rem;
    border: 0.06rem solid #838383;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content:space-around;
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 0.6rem;
}

.redyvery-linked-message-for-kakao-time{
    color: #838383;
    margin-top: 0.092rem;
}