/* SignupPage */
.signup-page-content-container{
    margin-top: 2.24rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 22.4rem;
}

.signup-page-next-button{
    margin-top: 2.1rem;
}
