.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Bold";
  src: url("/src/assets/font/Pretendard-Bold.woff2");
}

@font-face {
  font-family: "ExtraBold";
  src: url("/src/assets/font/Pretendard-ExtraBold.woff2");
}

@font-face {
  font-family: "ExtraLight";
  src: url("/src/assets/font/Pretendard-ExtraLight.woff2");
}

@font-face {
  font-family: "Light";
  src: url("/src/assets/font/Pretendard-Light.woff2");
}

@font-face {
  font-family: "Medium";
  src: url("/src/assets/font/Pretendard-Medium.woff2");
}

@font-face {
  font-family: "Regular";
  src: url("/src/assets/font/Pretendard-Regular.woff2");
}

@font-face {
  font-family: "SemiBold";
  src: url("/src/assets/font/Pretendard-SemiBold.woff2");
}
