.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 480px) {
  .App {
    max-width: 480px;
    background-color: white;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
  }
  /* .bottom_navbar {
    left: calc(50% - 207px);  
    right: calc(50% - 207px);  
  }
  .bottom_navbar2 {
    left: calc(50% - 207px);  
    right: calc(50% - 207px);  
  }

  .top_header {
    left: calc(50% - 207px);  
    right: calc(50% - 207px);  
  }

  .top_header_page {
    left: calc(50% - 207px);  
    right: calc(50% - 207px);  
  } */
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .App {
    max-width: 768px;
    background-color: white;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
  }
  /* .bottom_navbar {
    left: calc(50% - 215px);  
    right: calc(50% - 215px);  
  }
  .bottom_navbar2 {
    left: calc(50% - 215px);  
    right: calc(50% - 215px);  
  }

  .top_header {
    left: calc(50% - 215px);  
    right: calc(50% - 215px);  
  }
  .top_header_page {
    left: calc(50% - 215px);  
    right: calc(50% - 215px);  
  } */
}

@media (min-width: 768px) {
  .App {
    width: 1024px;
    background-color: white;
    padding-top: 4rem;
  }
  /* .bottom_navbar {
    left: calc(50% - 300px);  
    right: calc(50% - 300px);  
  }

  .bottom_navbor2 {
    left: calc(50% - 300px);  
    right: calc(50% - 300px);  
  }

  .top_header {
    left: calc(50% - 300px);  
    right: calc(50% - 300px);  
  }

  .top_header_page {
    left: calc(50% - 300px);  
    right: calc(50% - 300px);  
  } */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Bold";
  font-display: swap;
  src: local("Pretendard"),
    url("./assets/font/Pretendard-Bold.woff2") format("woff2");
  unicode-range: U+AC00-D7A3, U+0061-007A, U+AC00-D7A3, U+0030-0039;
}

@font-face {
  font-family: "ExtraBold";
  font-display: swap;
  src: local("Pretendard"),
    url("./assets/font/Pretendard-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "ExtraLight";
  font-display: swap;
  src: local("Pretendard"),
    url("./assets/font/Pretendard-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Light";
  font-display: swap;
  src: local("Pretendard"),
    url("./assets/font/Pretendard-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Medium";
  font-display: swap;
  src: local("Pretendard"),
    url("./assets/font/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Regular";
  font-display: swap;
  src: local("Pretendard"),
    url("./assets/font/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "SemiBold";
  font-display: swap;
  src: local("Pretendard"),
    url("./assets/font/Pretendard-SemiBold.woff2") format("woff2");
}
