.judge-results-reject-page-content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Pretendard";
  white-space: nowrap;
}
.judge-results-reject-page-top-positon-icon {
  display: flex;
  position: absolute;
  top: -2rem;
  left: 43%;
}
.judge-results-reject-page-content-text-style {
  font-weight: 800;
  color: var(--title, #2e2d2d);
  text-align: center;
}
.judge-results-reject-page-content-main-text-style {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--title, #2e2d2d);
  text-align: center;
  font-weight: 500;
}
/* w:768, h:1024 이상일 때 */
@media screen and (min-width: 480px) {
  .judge-results-reject-page-top-positon-icon {
    width: 5.5rem;
    height: 5.5rem;
    left: 43%;
  }
  .judge-results-reject-page-content-text-style {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  .judge-results-reject-page-content-main-text-style {
    font-size: 1rem;
  }
  .judge-results-reject-page-next-button {
    margin-top: 7.25rem;
  }
}
/* w:480, h:800일 때 */
@media screen and (max-width: 480px) {
  .judge-results-reject-page-top-positon-icon {
    width: 3.75rem;
    height: 3.75rem;
    left: 43%;
  }
  .judge-results-reject-page-content-text-style {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  .judge-results-reject-page-content-main-text-style {
    font-size: 1rem;
  }
  .judge-results-reject-page-next-button {
    margin-top: 6.06rem;
  }
}
