

.inven-wrapper-background main {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* 패딩값은 유동적으로 */
  padding: 0 20%; 
  width: 100%;
  height: 100%;
}
/* w:480, h:800일 때 */
@media screen and (max-width: 480px) {
  .inven-wrapper {
    padding: 0 10%;
  }
}

/* 480부터
  헤더 대신
  뒤로 가기 버튼 */
  @media screen and (max-width: 480px) {
    .inven-wrapper-header-top-back-button-style{
      display: block;
      position: relative;
      top: 3rem;
      left: 10%;
      margin: 0%;
      padding: 0%;
    }
    .inven-wrapper-header-top-back-button-style img {
      display: block;
      width: 3rem;
      height: 3rem;
    }
  }
  @media screen and (min-width: 480px) {
    .inven-wrapper-header-top-back-button-style{
      display: none;
    }
    .inven-wrapper-header-top-back-button-style img {
      display: none;
    }
  }
