/* 재고관리 페이지 */
.mainInven-wrapper{
    width: 100%;
    font-family: "Pretendard";
    white-space: nowrap;
    overflow-y: auto;
}
.mainInven-category__modal{
    position: absolute;
    left: 29%;
    margin-top: -0.25rem;
    display: flex;
    width: 15%;
    flex-direction: column;
    border-radius: 0 0 0.625rem 0.625rem;
    background-color: #838383;
    z-index: 0;
    /* 스크롤값 주려는데 지혜를 주세요 */
    overflow-x: scroll;
}
.mainInven-category__modal::-webkit-scrollbar {
    display: none;
}

.mainInven-category__modal {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}
.mainInven-category__modal span{
    color: #FFF;
    text-align: center;
    font-family: "Pretendard";
    font-weight: 600;
    line-height: 410%;
    font-size: 0.84375rem;
    border-top: 0.0625rem solid  #FFF;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
/* 이게 밑줄..? */
/* .mainInven-category__line{
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 0.0625rem;
} */


@media screen and (min-width: 768px){
    /* 확인하여 처리한 부분 */
    .mainInven-wrapper{
        width: 43.1rem;
    }

    /* 아래는 확인하면서 */
    .mainInven-category__modal span{
        font-size: 1.125rem;
    }
    .mainInven-category-content__box span{
        font-size: 1rem;
    }
    .mainInven-category-content__box{
        width: 100%;
        height: 2.5rem;
    }
    .mainInven-category-checkbox{
        height: 1.4rem;
        width: 1.4rem;
    }
}
/* w:768, h:1024일 때 */
@media screen and (min-width: 480px) and (max-width: 768px){
    /* 확인하여 처리한 부분 */
    .mainInven-wrapper{
        width: 32.36032rem;
    }
}
/* w:480, h:800일 때 */
@media screen and (max-width: 480px) {
    /* 처리한 부분 */
    /* 모바일의 경우 %로 */
    .mainInven-wrapper{
        width: 100%;
        min-width: 27rem;
    }
}