.Order-wrapper {
  width: 100%;
  /* height: 100%; */
  padding: 0%;
}

.Order-wrapper-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0%;
}

.Order-title__wrapper {
  display: flex;
  padding-left: 1%;
}

.Order-title__wrapper span {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 6.25rem;
  height: 3.125rem;
  text-align: center;

  color: #4f4f4f;
  font-family: "Regular";
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 1.375rem */
}

.Order-content__wrapper {
  padding: 0%;

  /* height: calc(46.25rem - 5.0625rem); */
  /* height: calc(42.5rem - 5.0625rem); */
  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

.Order-content__box {
  /* width: 33.375rem; */
  width: 100%;
  padding: 2% 2.7% 2% 0%;

  border-bottom: 1px solid #838383;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Order-content__span {
  width: 6.275rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #000;
  font-family: "Medium";
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 100%; /* 1.25rem */
}

.Order-content__span div {
  white-space: nowrap;
  font-size: 1.125rem;
}

.Arrowicon {
  width: 1rem;
  height: 1rem;
}

.Dropdown-box {
  color: #4f4f4f;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 1.125rem */
  position: absolute;
  /* left: calc((100vw - 8.875rem) * 0.275); */
  top: 14rem;
  left: 24.7rem;
  /* left: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 17.1875rem; */
  width: 8.0625rem;
  height: 9rem;
  border-radius: 0 0 0.625rem 0.625rem;
  background-color: #fff;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
